{{>layout/header}}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>

                    <form action="" method="post" name="login">
                        <div class="form-group">
                            <label for="userPhone">Phone number</label>
                            <input type="tel" name="tlno"  class="form-control" id="tlno" title="전화번호를 입력하세요." placeholder="000-0000-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13">
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}  